<!DOCTYPE html>
<html>
<head>
  <title>AgencyFrontEnd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Terminal+Dosis' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
